@media only screen and (max-width: 600px) {
    body {
        background-image: url(/assets/bg_2.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

}

@media only screen and (min-width: 600px) {
    body {
        background-image: url(/assets/bg_2.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

}

@media only screen and (min-width: 992px) {
    body {
        background-image: url(/assets/bg_2@2x.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

}